*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-size: cover;
}

.form-register{
    width: 98%;
    max-width: 1000px;
    margin: auto;
    background: transparent;
    border-radius: 7px;
}

.form__titulo{
    background: rgba(63, 63, 63, 0.774);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 38px;
    border-radius: 7px;
    border-bottom: 5px solid crimson;
}

.contenedor-input{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
    
}
input:focus{
    border-color: rgb(31, 100, 29);
}

.input-48{
    width: 50%;
}

.input-100{
    width: 100%;
}

.btn-enviar{
    background: red;
    color:white;
    margin: auto;
    padding: 10px 100px;
    font-size: 28px;
    cursor: pointer;
    
}
.btn-enviar:hover{
    background: rgba(255, 0, 0, 0.575);
}

.form__link{
    color: black;
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link{
    text-decoration: underline;
      color: rgba(250, 250, 250, 0.901);
    font-weight: 600;
}
.link:hover{
     color: red;
}