body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}

.formulario{
    margin: auto;
    background-color: rgba(128, 128, 128, 0.822);
    margin-left: 350px;
    margin-top: 150px;
    border: 3px solid rgba(0, 255, 21, 0.342);
    border-radius: 7px;
}

.input-contenedor{
    padding: 10px 10px;
    margin: auto;
    margin-bottom: 15px;
}


.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #ff0000;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;

}

.button:hover{
    background: rgba(255, 0, 0, 0.575) 
}
p{
    text-align: center;
}
.link{
    text-decoration: underline;
      color: white;
    font-weight: 600;
}
.link:hover{
     color: red;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
.caracteres{
    color: aliceblue;
}