body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}

.formulario{
    background-color: rgba(109, 109, 109, 0.822);
    margin-left: 350px;
    margin-top: 150px;
    padding: 3px;
    width: 98%;
    max-width: 1000px;
    border: 3px solid rgba(0, 255, 21, 0.342);
    border-radius: 7px;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #000000b8;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgba(255, 0, 0, 0.575);
}

@media(min-width:1980px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

