body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}

.formulario{
    background-color: rgba(109, 109, 109, 0.822);
    margin-left: 350px;
    margin-top: 150px;
    padding: 3px;
    width: 98%;
    max-width: 1000px;
    border-radius: 7px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid rgba(0, 255, 21, 0.342);
    border-radius: 5px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #ff0000;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgba(255, 0, 0, 0.575);
}
p{
    text-align: center;
}
.link{
    text-decoration: underline;
      color: rgba(250, 250, 250, 0.692);
    font-weight: 600;
}
.link:hover{
     color: red;
}
@media(min-width:1980px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

.linkrecuperar{
    text-decoration: underline;
      color: rgba(250, 250, 250, 0.692);
    font-weight: 600;
}
.linkrecuperar:hover{
    color: red;
}

